*.txt
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm (and other JetBrains IDEs)
.idea/

# virtual environment
venv/
*.venv
venv.bak/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# IPython
.ipynb_checkpoints

# OSX
.DS_Store

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/
